p{
    background-color: cadetblue;
}

#rey{
    color: chocolate;
}

#rene{
    color: aliceblue
}

.CH35{
    font-family:cursive;
}

.css1{
    width: 200;
    height: 200;
    margin: 20px 50px;
    padding: 30px;
    border: solid coral;
}

#E1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#E2{
    font-family:cursive;
}